*{
    background-color: white;
    color: black;
    margin: 10px;
}
.task-input{
    height: 25px;
    font-size: 1.2em;
    padding: 2px 5px;
    text-align: left;
}
.submit-btn{
    background-color: rgb(51, 247, 51);
    height: 35px;
    border-radius: 5px;
    border: 1px solid ;
}
.task-list{
    display: flex;
    justify-content: center;
}
.remove-btn{
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}